html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 320px;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'GothamPro', sans-serif;
}

.container {
  max-width: 1024px;
  padding: 0 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

section {
  padding: 100px 0 75px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-size: 36px;
  font-family: 'GothamProBold',sans-serif;
  letter-spacing: normal;
  text-align: center;
  color: #003f69;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

h3 {
  color: #444444;
  font-size: 20px;
  font-family: 'GothamProBold',sans-serif;
}

.btn {
  background-color: #e07713;
  border-radius: 5px;
}

.btn-sub {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #0a8ac4;
  color: #fff;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: normal;
  padding: 1px 26px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-sub:hover {
  background-color: #003f69;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input {
  width: 227px;
  height: 35px;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #696969;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

.mobile-nav {
  display: none;
  cursor: pointer;
}

.loralin {
  display: none;
}

.loralin img {
  width: 50%;
  float: right;
}

#top-line {
  background-color: #003f69;
  padding: 15px 0;
  border-bottom: 1px solid #31bfff;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
  display: block;
}

.menu-btns,
.main-nav,
.nav-wrap nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-btns li,
.main-nav li,
.nav-wrap nav ul li {
  margin-right: 36px;
}

.menu-btns li a,
.main-nav li a,
.nav-wrap nav ul li a {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-btns li a:hover,
.main-nav li a:hover,
.nav-wrap nav ul li a:hover {
  color: #e07713;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-btns a {
  color: #fff;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  padding: 11px 17px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-btns a:hover {
  background-color: #d9521a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-btns .call-btn {
  margin-right: 20px;
}

.menu-btns .call-btn a {
  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 11px 22px;
}

#main {
  background-color: #0a8ac4;
}

#main .main {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

#main .main h1 {
  font-size: 30px;
  font-family: 'GothamProBold',sans-serif;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

#main .main p {
  font-size: 24px;
  font-family: 'GothamProLight',sans-serif;
  text-align: center;
}

.h2-tittle {
  padding-bottom: 44px;
}

.services-block {
  text-align: center;
  padding: 0 20px;
}

.services-block-img {
  width: 142px;
  height: 142px;
  background-color: #0a8ac4;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-block-img img {
  margin: auto auto;
}

.services-block-txt {
  padding-top: 11px;
}

.services-block-txt h3 {
  line-height: 1.3;
  margin: 0;
  padding-bottom: 7px;
}

.services-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#benefits {
  background-color: #f9f9f9;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.benefits-block {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 63px;
}

.benefits-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -63px;
}

.benefits-block-img {
  margin-right: 29px;
  min-width: 90px;
}

.benefits-block-img img {
  margin: 0 auto;
}

.benefits-block-txt p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #696969;
}

#portfolio-slider {
  padding-bottom: 67px;
}

#exerienced-slider {
  padding-bottom: 53px;
}

.portfolio-block {
  text-align: center;
}

.portfolio-block-img img {
  margin: 0 auto;
}

.portfolio-block a {
  font-size: 24px;
  color: #0a8ac4;
}

.get {
  text-align: center;
}

.get-block {
  background-color: #e07713;
  border-top: 2px solid #eeeeee;
  padding: 44px 0 50px;
}

.get-title {
  padding-bottom: 20px;
}

.get-title h3 {
  font-size: 24px;
  font-family: 'GothamProBold',sans-serif;
  color: #ffffff;
  margin: 0;
  line-height: 1;
}

.get-title p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.3;
  padding-top: 7px;
}

.get-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.get-form form label {
  position: relative;
}

.get-form form label.second {
  margin: 0 30px;
}

.get-form form label input {
  width: 227px;
  border-radius: 3px;
}

.get-form form label span {
  font-size: 12px;
  font-family: 'GothamProLight',sans-serif;
  font-style: italic;
  color: #ffffff;
  position: absolute;
  width: 237px;
  right: -4px;
  top: 37px;
}

#exerienced {
  background-image: url("../img/ex-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003f69;
}

#exerienced h2, #exerienced p {
  color: #fff;
}

.exerienced-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.exerienced-block p {
  font-size: 20px;
  font-family: 'GothamProBold',sans-serif;
  padding-left: 16px;
  line-height: 1.1;
}

.story-slider {
  width: 314px;
  padding: 0 67px;
  position: relative;
  top: -30px;
}

.story-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.story-block {
  text-align: center;
}

.story-block img {
  margin: 0 auto;
}

.story-block h3 {
  font-size: 24px;
  line-height: 1;
}

.story-block p {
  font-size: 20px;
  font-family: 'GothamProLight',sans-serif;
  color: #696969;
}

.story-txt {
  padding-left: 49px;
  max-width: 520px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.story-txt p {
  line-height: 1.75;
  color: #696969;
}

.story-txt-proud {
  padding-top: 56px;
  position: relative;
  top: 50px;
}

.story-txt-proud h3 {
  font-size: 24px;
  line-height: 1;
  padding-bottom: 20px;
}

.story-txt-proud-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.story-txt-proud-list ul p {
  line-height: 1.13;
}

.story-txt-proud-list ul .number {
  font-size: 36px;
  font-family: 'GothamProLight',sans-serif;
  color: #e07713;
  padding-bottom: 5px;
}

.how-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.how-block {
  width: 24%;
  text-align: center;
}

.how-block-number {
  position: relative;
}

.how-block-number:not(:last-child):after {
  content: '';
  background-image: url("../img/icon-how-desctop.svg");
  width: 77px;
  height: 26px;
  top: 38%;
  left: 85%;
  position: absolute;
}

.how-block-number p {
  font-size: 64px;
  font-family: 'BlissProBold', sans-serif;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 100px;
  line-height: 96px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #0a8ac4;
}

.how-block-descr {
  padding-top: 20px;
}

.how-block-descr h3 {
  font-size: 20px;
}

.how-block-descr p {
  line-height: 1.25;
  color: #696969;
}

.how-block:last-child .how-block-number:after {
  display: none;
}

#testimonials {
  background-color: #f9f9f9;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.testimonials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.testimonials-block-site {
  position: relative;
  left: -18px;
  width: 50%;
}

.testimonials-block-client {
  padding: 47px 29px 29px;
  background-color: rgba(10, 138, 196, 0.2);
}

.testimonials-block-client-img {
  position: relative;
}

.testimonials-block-client-img:before {
  content: '';
  background-image: url("../img/icon-square.svg");
  width: 57px;
  height: 43px;
  position: absolute;
  left: -11px;
  top: -72px;
  z-index: 1;
}

.testimonials-block-client-img img {
  position: absolute;
  bottom: 10px;
  left: 35px;
  border-radius: 50%;
}

.testimonials-block-client-descr {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #696969;
}

.testimonials-block-client-text {
  padding: 13px 0 25px;
}

.testimonials-block-client-text p {
  line-height: 1.81;
  color: #444444;
}

#contact {
  padding-bottom: 0;
}

.contact .block-l {
  width: 294px;
  min-width: 294px;
  padding-right: 50px;
  padding-left: 20px;
}

.contact .block-l-text p {
  color: #696969;
  font-family: 'GothamProLight', sans-serif;
  line-height: 1.5;
}

.contact .block-l-phone {
  padding-top: 24px;
}

.contact .block-l-phone a[href^="mailto:"] {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0a8ac4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact .block-l-phone a[href^="mailto:"]:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact .block-l-phone a[href^="tel:"] {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  position: relative;
  color: #444444;
}

.contact .block-l-phone a[href^="tel:"]:after {
  content: '';
  background-image: url("../img/tel-maps.png");
  width: 26px;
  height: 29px;
  position: absolute;
  right: -40px;
  top: 6px;
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-img {
  padding-right: 40px;
}

.contact-descr {
  padding-bottom: 70px;
}

.contact-descr-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-descr-simple h3 {
  font-size: 24px;
  line-height: 1.25;
}

.contact-descr-simple form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 13px;
}

.contact-descr-simple form button {
  margin-top: 15px;
  background-image: url("../img/icon-phone.svg");
  background-position: 13px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.contact-descr-simple form label {
  width: 48%;
}

.contact-descr-simple form label input {
  width: 100%;
  border: 1px solid #444;
}

.contact-descr-attention {
  background-color: #e07713;
  padding: 20px 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  color: #fff;
  font-family: 'GothamProBold', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: normal;
}

.contact-descr-attention .normal {
  font-family: 'GothamProLight', sans-serif;
  font-weight: 300;
}

.contact-descr-attention .block-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 15px;
}

.contact-descr-attention .block-r .number {
  font-size: 90px;
  line-height: 77px;
  padding-left: 20px;
  font-family: 'GothamProLight', sans-serif;
  font-weight: 300;
}

#footer {
  background: #444444;
  padding: 45px 0 41px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-block-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block-week .mon {
  padding-right: 20px;
}

.footer-block-schedule {
  width: 245px;
}

.footer-block-location {
  width: 175px;
}

.footer h3 {
  font-size: 24px;
  color: #ffffff;
  opacity: 0.5;
  line-height: 1;
  padding-bottom: 10px;
}

.footer p, .footer a {
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  font-family: 'GothamProLight',sans-serif;
}

.footer p.bold, .footer a.bold {
  font-family: 'GothamProBold',sans-serif;
  opacity: 1;
}

.footer p.email, .footer a.email {
  font-family: 'GothamProLight',sans-serif;
}

.copy {
  text-align: center;
  padding: 18px 0 22px;
  color: #696969;
  font-family: 'BlissProLight', sans-serif;
}
