body
  min-width: 320px
  position: relative
  font-size: 16px
  line-height: 1.6

//%button
//  display: inline-block
//  padding: $button-padding
//  font-size: $button-font-size
//  font-weight: bold
//  text-transform: uppercase
//  border-width: $button-border-width
//  border-style: solid

.container
  max-width: 1024px
  padding: 0 12px
  width: 100%
  box-sizing: border-box
  margin: 0 auto
