@import "reset"
@import "base"
@import "mixin"

#top-line
  background-color: #003f69
  padding: 15px 0
  border-bottom: 1px solid #31bfff
  position: fixed
  width: 100%
  top: 0
  z-index: 1
.top-line
  display: flex
  align-items: center
  justify-content: space-between
.logo
  max-width: 100%
  display: block
.menu-btns,
.main-nav,
.nav-wrap nav ul
  display: flex
  align-items: center
  justify-content: space-between
  li
    margin-right: 36px
    a
      color: #fff
      transition: 0.3s
      &:hover,
      &.mPS2id-highlight
        color: $main_color
        transition: 0.3s
.menu-btns
  a
    color: #fff
    height: 45px
    line-height: 45px
    font-size: 20px
    padding: 11px 17px
    transition: 0.3s
    &:hover
      background-color: $main_color_hover
      transition: 0.3s
  .call-btn
    margin-right: 20px
    a
      background-image: url("../img/icon-phone.svg")
      background-position: center
      background-repeat: no-repeat
      padding: 11px 22px
.main-nav
  .close-menu
    display: none
  &.active
    position: fixed
    background-color: rgba($dop_color, 0.9)
    left: 0
    right: 0
    height: 100%
    top: 0
    display: flex
    flex-direction: column-reverse
    align-items: center
    justify-content: flex-end
    z-index: 2
    .close-menu
      display: block
    .nav-wrap
      padding-top: 90px
      ul
        flex-direction: column
        li
          margin-right: 0
          font-size: 36px
          margin-bottom: 30px
    .menu-btns
      a
        font-size: 24px
.close-menu
  position: relative
  width: 100%
  padding-top: 28px
  height: 25px
  padding-bottom: 70px
  img
    cursor: pointer
    position: absolute
    right: 25px

#main
  background-color: #0a8ac4
  padding-top: 77px
  .main
    height: 430px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: #fff
    h1
      font-size: 30px
      font-family: 'GothamProBold',sans-serif
      line-height: 1.67
      letter-spacing: normal
      text-align: center
    p
      font-size: 24px
      font-family: 'GothamProLight',sans-serif
      text-align: center
.h2-tittle
  padding-bottom: 44px

.services
  &-block
    text-align: center
    padding: 0 20px
    &-img
      width: 142px
      height: 142px
      background-color: $main_blue_color
      margin: 0 auto
      border-radius: 50%
      display: flex

      img
        margin: auto auto
    &-txt
      padding-top: 11px
      h3
        line-height: 1.3
        margin: 0
        padding-bottom: 7px
    &-wrap
      display: flex
      justify-content: space-around
#benefits
  background-color: #f9f9f9
  border-top: 2px solid #eeeeee
  border-bottom: 2px solid #eeeeee
.benefits-block
  width: 30%
  display: flex
  margin-bottom: 63px
  &-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: -63px
  &-img
    margin-right: 29px
    min-width: 90px
    img
      margin: 0 auto
  &-txt
    p
      font-size: 18px
      line-height: 1.33
      letter-spacing: normal
      color: #696969

#portfolio-slider
  padding-bottom: 67px
#exerienced-slider
  padding-bottom: 53px

.portfolio-block
  text-align: center
  &-img img
    margin: 0 auto
  a
    font-size: 24px
    color: $main_blue_color

.get
  text-align: center
  &-block
    background-color: $main_color
    border-top: 2px solid #eeeeee
    padding: 44px 0 50px
  &-title
    padding-bottom: 20px
    h3
      font-size: 24px
      font-family: 'GothamProBold',sans-serif
      color: #ffffff
      margin: 0
      line-height: 1
    p
      font-size: 18px
      color: #ffffff
      line-height: 1.3
      padding-top: 7px
  &-form
    form
      display: flex
      align-items: center
      justify-content: center
      label
        position: relative
        &.second
          margin: 0 30px
        input
          width: 227px
          border-radius: 3px
        span
          font-size: 12px
          font-family: 'GothamProLight',sans-serif
          font-style: italic
          color: #ffffff
          position: absolute
          width: 237px
          right: -4px
          top: 37px

#exerienced
  background-image: url("../img/ex-bg.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: $dop_color
  h2,p
    color: #fff
.exerienced-block
  display: flex
  align-items: center
  justify-content: center
  p
    font-size: 20px
    font-family: 'GothamProBold',sans-serif
    padding-left: 16px
    line-height: 1.1

.story
  &-slider
    width: 314px
    padding: 0 67px
    position: relative
    top: -30px
  &-wrap
    display: flex
    justify-content: space-around
    align-items: flex-start
  &-block
    text-align: center
    img
      margin: 0 auto
    h3
      font-size: 24px
      line-height: 1
    p
      font-size: 20px
      font-family: 'GothamProLight',sans-serif
      color: #696969
  &-txt
    padding-left: 49px
    max-width: 520px
    box-sizing: border-box
    p
      line-height: 1.75
      color: #696969
    &-proud
      padding-top: 56px
      position: relative
      top: 50px
      h3
        font-size: 24px
        line-height: 1
        padding-bottom: 20px
      &-list ul
        display: flex
        justify-content: space-between
        p
          line-height: 1.13
        .number
          font-size: 36px
          font-family: 'GothamProLight',sans-serif
          color: $main_color
          padding-bottom: 5px

.how
  &-wrap
    display: flex
    justify-content: space-around
  &-block
    width: 24%
    text-align: center
    &-number
      position: relative
      &:not(:last-child):after
        content: ''
        background-image: url("../img/icon-how-desctop.svg")
        width: 77px
        height: 26px
        top: 38%
        left: 85%
        position: absolute
      p
        font-size: 64px
        font-family: 'BlissProBold', sans-serif
        text-align: center
        color: #ffffff
        width: 100px
        height: 100px
        line-height: 96px
        border-radius: 50%
        margin: 0 auto
        background-color: $main_blue_color
    &-descr
      padding-top: 20px
      h3
        font-size: 20px
      p
        line-height: 1.25
        color: #696969
.how-block
  &:last-child
    .how-block-number
      &:after
        display: none

#testimonials
  background-color: #f9f9f9
  border-top: 2px solid #eee
  border-bottom: 2px solid #eee
.testimonials
  &-block
    display: flex
    align-items: center
    padding-bottom: 40px
    &-site
      position: relative
      left: -18px
      width: 50%
    &-client
      padding: 47px 29px 29px
      background-color: rgba($main_blue_color, 0.2)
      &-img
        position: relative
        &:before
          content: ''
          background-image: url("../img/icon-square.svg")
          width: 57px
          height: 43px
          position: absolute
          left: -11px
          top: -72px
          z-index: 1
        img
          position: absolute
          bottom: 10px
          left: 35px
          border-radius: 50%
      &-descr
        font-size: 14px
        line-height: 1.43
        letter-spacing: normal
        color: #696969
      &-text
        padding: 13px 0 25px
        p
          line-height: 1.81
          color: #444444


#contact
  padding-bottom: 0
.contact
  .block-l
    width: 294px
    min-width: 294px
    padding-right: 50px
    padding-left: 20px
    &-text
      p
        color: #696969
        font-family: 'GothamProLight', sans-serif
        line-height: 1.5
    &-phone
      padding-top: 24px
      a[href^="mailto:"]
        font-size: 18px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: 1.33
        letter-spacing: normal
        color: $main_blue_color
        transition: 0.3s
        &:hover
          text-decoration: underline
          transition: 0.3s
      a[href^="tel:"]
        font-size: 36px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: 0.67
        letter-spacing: normal
        position: relative
        color: $dark_color
        &:after
          content: ''
          background-image: url("../img/tel-maps.png")
          width: 26px
          height: 29px
          position: absolute
          right: -40px
          top: 6px
  &-wrap
    display: flex
    justify-content: center
  &-img
    padding-right: 40px
  &-descr
    padding-bottom: 70px
    &-simple
      display: flex
      h3
        font-size: 24px
        line-height: 1.25
      form
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding-top: 13px
        button
          margin-top: 15px
          background-image: url("../img/icon-phone.svg")
          background-position: 13px center
          background-repeat: no-repeat
          padding-left: 40px
        label
          width: 48%
          input
            width: 100%
            border: 1px solid #444
    &-attention
      background-color: $main_color
      padding: 20px 0px 24px
      display: flex
      margin-bottom: 40px
      color: #fff
      font-family: 'GothamProBold', sans-serif
      font-size: 20px
      line-height: 1.3
      letter-spacing: normal
      .normal
        font-family: 'GothamProLight', sans-serif
        font-weight: 300
      .block-r
        display: flex
        align-items: flex-end
        padding-right: 15px
        .number
          font-size: 90px
          line-height: 77px
          padding-left: 20px
          font-family: 'GothamProLight', sans-serif
          font-weight: 300

.pricing-landing
  float: right
  height: 75px
  padding-right: 90px
  h3
    font-size: 20px
    font-weight: bold
    line-height: 1
    color: $dark_color
    text-align: center
  p
    font-size: 14px
    font-weight: 300
    font-style: normal
    font-stretch: normal
    line-height: 1.43
    letter-spacing: normal
    text-align: center
    color: #696969

#footer
  background: $dark_color
  padding: 45px 0 41px
.footer
  display: flex
  justify-content: space-between
  &-block-week
    display: flex
    .mon
      padding-right: 20px
  &-block-schedule
    width: 245px
  &-block-location
    width: 175px
  h3
    font-size: 24px
    color: #ffffff
    opacity: 0.5
    line-height: 1
    padding-bottom: 10px
  p,a
    opacity: 0.7
    font-size: 18px
    line-height: 1.33
    color: #fff
    font-family: 'GothamProLight',sans-serif
    &.bold
      font-family: 'GothamProBold',sans-serif
      opacity: 1
    &.email
      font-family: 'GothamProLight',sans-serif

.copy
  text-align: center
  padding: 18px 0 22px
  color: #696969
  font-family: 'BlissProLight', sans-serif
